.Layout {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      margin-right: 1rem;
    }
    h1 {
      margin-top: 1.25rem;
      padding: 0.2rem 0 1.25rem 0;
      font-size: 3rem;
    }
  }

  > h2 {
    margin-top: 1.25rem;
    padding: 0.2rem 0 1.25rem 0;
  }
}
