.Nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 1.25rem;
  overflow-y: auto;

  @media (min-width: 768px) {
    flex-direction: column;
  }

  > h2 {
    margin: 0;
    padding-bottom: 0.35rem;
    font-weight: 300;
    font-size: 0.85rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  > a {
    font-size: 0.85rem;
    color: #b3b3b3;
    text-decoration: none;
    text-overflow: ellipsis;
    line-height: 1.75rem;
    white-space: nowrap;
    &:hover {
      color: #fff;
    }
    &.active {
      &::before {
        content: "";
        position: relative;
        left: -1.125rem;
        border-left: 0.15rem solid #1db954;
      }

      @media (min-width: 768px) {
        width: 8.75rem;
      }
    }
  }
}
